// Body
$body-bg: rgb(238, 215, 219);
// Typography
$font-family-sans-serif: 'Oswald',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #7FBEEB;
$indigo: #7FBEEB;
$purple: #772D8B;
$pink: #F06C9B;
$red: #F06C9B;
$orange: #772D8B;
$yellow: #772D8B;
$green: #BAF2BB;
$teal: #7FBEEB;
$cyan: #7FBEEB;